# Node.js specific
node_modules
npm-debug.log
yarn-error.log

# Optional
dist/
build/

# Environment variables
.env

# Logs
logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# MacOS specific
.DS_Store

# IDE specific (examples)
.vscode/
.idea/
